$none: 0 !default;
$border-thin: 1px !default;
$border-thick: 2px !default;

$white-color: #ffffff !default;
$white-bg: #ffffff !default;
$white-states-color: rgba($white-color, 0.8);

$onvelo-dark-color: #373737 !default;
$onvelo-orange-color: #ff8b00 !default;

$margin-bottom: 0 0 10px 0 !default;
$border-radius-small: 3px !default;
$border-radius-base: 4px !default;
$border-radius-large: 6px !default;
$border-radius-x-large: 8px !default;
$border-radius-extreme: 12px !default;

$black-color: #333333 !default;
$black-hr: #444444 !default;
